<div class="theme-switcher" id="theme-switcher">
    <button
        class="btn btn--outline-dark btn--sm btn--icon theme-switcher__system-mode btn--sm-radius"
        aria-label="Switch to light mode"
        data-action="light"
    >
        <!--% svgIcon './src/img/icon/system-mode.svg', 'btn__icon' %}-->
        <i data-feather="sun" class="btn__icon"></i>
    </button>
    <button
        class="btn btn--outline-dark btn--sm btn--icon theme-switcher__light-mode btn--sm-radius"
        aria-label="Switch to dark mode"
        data-action="dark"
    >
        <!--% svgIcon './src/img/icon/light-mode.svg', 'btn__icon' %}-->
        <i data-feather="moon" class="btn__icon"></i>
    </button>
    <button
        class="btn btn--outline-dark btn--sm btn--icon theme-switcher__dark-mode btn--sm-radius"
        aria-label="Switch to system mode"
        data-action="system"
    >
        <!--% svgIcon './src/img/icon/dark-mode.svg', 'btn__icon' %}-->
        <i data-feather="sun" class="btn__icon"></i>
    </button>
</div>
