<div class="banner">
    <div class="banner__inner">
        <div class="banner__content">
            <h2 class="banner__title">We speak construction equipment</h2>
            <p class="banner__sub-title">Backhoes, excavators, booms, graders — you name it, we got it.</p>
            <div class="form-group">
                <div class="banner__equipment-search">
                    <input class="form-control" id="equipment-search" name="search" type="search"
                        placeholder="Search by category or location" />
                    <input class="btn btn--primary btn--block" name="submit" type="submit" value="Search">

                </div>
            </div>
        </div>
    </div>
</div>