<div class="categories container">
    <div class="categories__inner">
        <div class="categories__items">
            <div class="categories-item">
                q
            </div>
            <div class="categories-item">
                q
            </div>
            <div class="categories-item">
                q
            </div>
            <div class="categories-item">
                q
            </div>
            <div class="categories-item">
                q
            </div>
            <div class="categories-item">
                q
            </div>
            <div class="categories-item">
                q
            </div>
            <div class="categories-item">
                q
            </div>
            <div class="categories-item">
                q
            </div>
            <div class="categories-item">
                q
            </div>
            <div class="categories-item">
                q
            </div>
            <div class="categories-item">
                q
            </div>
        </div>
    </div>
</div>