<div class="app-heading">
    <div class="container">
        <div class="app-heading__inner">
            <div class="app-heading__caption">
                <h1 class="app-heading__title" x-text="kebabToTitleCase(category)"></h1>
            </div>
            <div class="app-card__actions">
                <form class="search-form" @submit.prevent="searchEquipment">
                    <i data-feather="search" class="btn--icon"></i>
                    <input x-model="search" id="search" class="search-form__control" type="text" placeholder="Search..."
                        title="Search" />
                </form>
                <div class="data-table-filter" x-data="{ open: false }" @click.outside="open = false">
                    <button class="btn btn--primary btn--icon btn--counter data-table-filter__toggle btn--small-padding"
                        :aria-expanded="open" @click="open = !open" aria-label="Filters">
                        <i data-feather="filter" class="sort-btn__icon"></i>
                    </button>
                    <div class="context-menu context-menu--inline-end" :data-state="open ? 'open' : 'closed'">
                        <form @submit.prevent="updateData(category, location)"
                            class="form-group-stack form-group-stack form-group-container">
                            <div class="form-group">
                                <label class="form-label" for="categories-select">Categories</label>
                                <select class="form-control" id="categories-select" x-model="category" @change="updateData(category, location)">
                                    <option value="all">All</option>
                                    {% for category in data.categories %}
                                    <option value="{{ category.slug }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="locations-select">Locations</label>
                                <select class="form-control" id="locations-select" x-model="location" @change="updateData(category, location)">
                                    <option value="all">All</option>
                                    {% for location in data.locations %}
                                    <option value="{{ location | lower }}">{{ location }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="data-table-filter__actions">
                                <button @click="resetFilters" type="button"
                                    class="btn btn--light btn--sm">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
