<header class="app-header">
    <div class="app-header__inner container">
        <div class="app-header__site-identity">
            <a href="/">dokimos</a>
        </div>
        <nav class="app_header site-navigation">
            <ol class="navbar-list {{ breadcrumbClass }}">
                <li><a href="/">Portfolio</a></li>
                <li><a href="/">Equipment</a></li>
                <li><a href="/">Contact us</a></li>
            </ol>
        </nav>
        <div class="app-header__actions">
            <button class="btn btn--primary" style="padding: 8px 16px;">Get Started</button>
        </div>

    </div>
</header>