<div class="info-cards container">
    <div class="info-card">
        <div class="info-card__thumbnail">
            <img src="https://images.unsplash.com/photo-1597362434494-ed6eb82964ac" alt="">
        </div>
        <div class="info-card__caption">

        </div>
    </div>
    <div class="info-card">
        <div class="info-card__thumbnail">
            <img src="https://images.unsplash.com/photo-1597362434494-ed6eb82964ac" alt="">
        </div>
        <div class="info-card__caption">

        </div>
    </div>
    <div class="info-card">
        <div class="info-card__thumbnail">
            <img src="https://images.unsplash.com/photo-1597362434494-ed6eb82964ac" alt="">
        </div>
        <div class="info-card__caption">

        </div>
    </div>
</div>