@forward 'config';
@forward 'layout';
@forward 'component';
@forward 'section';
@forward 'extend';
@forward 'helper';

@use 'sprucecss/scss/spruce' as *;
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  @include set-css-variable((--sidebar-inline-size: 20rem,
      --header-block-size: 4.5rem,
      --container-gap: spacer-clamp('m', 'l')));
}

body {
  overflow-x: hidden;
}

[x-cloak] {
  visibility: hidden !important;
}

.btn--sm-radius,
.context-menu--small-border-radius {
  border-radius: 0.2rem;
}

.btn--small-padding {
  padding: 0.4rem !important;
}

.app-heading--actions__pill {
  border-radius: 4rem;
  padding: 0.5rem 0.75rem;
}

.open-search-btn__rounded {
  border-radius: 4rem;
}