<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css')}}">
    {% if title %}
    <title>Dashboard</title>
    {% else %}
    <title>Dashboard | {{ title }}</title>
    {% endif %}
</head>

<body>
    <nav class="dash-sidenav">
        <div class="brand">
            <a href="/dashboard">dokimos</a>
        </div>
        <div class="menu">
            {% for tab in tabs_list %}
            <a class="button {% if tab == active_tab %} active {% endif %}" href="/dashboard?tab={{ tab }}">{{ tab }}</a>
            {% endfor %}
        </div>
    </nav>
    <main class="dash-content">
        <nav class="dash-topnav">
            <div class="heading">
                <p id="tab-title">overview</p>
            </div>
            <div class="logout">
                <button class="danger">log out</button>
            </div>
        </nav>
        <section class="tab">
            {% block content %}
            {% endblock %}
        </section>
        <footer class="dash-footer">
            &copy; Alemi Herbert 2024
        </footer>
    </main>
    <script src="{{ url_for('static', filename='js/w3.js')}}"></script>
    <script src="{{ url_for('static', filename='js/moain.js')}}"></script>
</body>

</html>