@import url("https://fonts.googleapis.com/css2?family=Plus+Inter:ital,wght@0,200..800;1,200..800&display=swap");
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dash-sidenav {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 12em;
  height: 100vh;
  background-color: #323232;
}
.dash-sidenav .brand {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.25em 1em;
  background-color: #181818;
  height: 62.5px;
}
.dash-sidenav .brand a {
  font-weight: 900;
  font-size: 1.75em;
  color: #ffffff;
  text-decoration: none;
  text-transform: lowercase !important;
}
.dash-sidenav .menu {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1em;
  background-color: #323232;
  color: #ffffff;
}
.dash-sidenav .menu button, .dash-sidenav .menu .button {
  text-align: left;
}

.dash-content {
  margin-left: 12em;
  width: 100%;
}
.dash-content .dash-topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62.5px;
  background-color: #e9c600;
  color: #323232;
}
.dash-content .dash-topnav #tab-title {
  font-weight: 900;
  font-size: 1.75em;
  color: #323232;
  text-decoration: none;
  margin: 0;
}
.dash-content .dash-topnav .heading,
.dash-content .dash-topnav .logout {
  height: 100%;
  display: flex;
  padding: 0.25em 1em;
  align-items: flex-end;
}
.dash-content .dash-topnav .heading button,
.dash-content .dash-topnav .logout button {
  margin-bottom: 0.5em;
}

.dash-footer {
  width: 97.5%;
  padding: 0 2em;
}

.tab {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2em;
  width: 95%;
}
.tab .tab {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}
.card-container .card {
  display: flex;
  flex-direction: column;
  height: 300px;
  border: 1px solid #323232;
  background-color: #ffffff;
}
.card-container .card::before {
  content: "";
  display: block;
  width: calc(inherit - 1px);
  height: 5px;
  background-image: linear-gradient(45deg, #e9c600 25%, #323232 25%, #323232 50%, #e9c600 50%, #e9c600 75%, #323232 75%, #323232 100%);
  background-size: 20px 20px;
  border-bottom: 1px solid #444;
  position: relative;
  top: 0px;
}
.card-container .card .card-content {
  flex-grow: 1;
}
.card-container .card .card-footer {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.5em 1em;
  background: linear-gradient(45deg, #999 5%, #aaa 10%, #a8a8a8 30%, #989898 50%, #a8a8a8 70%, #aaa 80%, #999 95%);
  box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.225);
}

.table-container {
  overflow: auto;
  border: 1px solid #323232;
  background-image: linear-gradient(45deg, #e9c600 25%, #323232 25%, #323232 50%, #e9c600 50%, #e9c600 75%, #323232 75%, #323232 100%);
  background-size: 20px 20px;
  padding-bottom: 5px;
}

table {
  font-size: 14px;
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid #323232;
}
table th,
table td {
  padding: 0.5em;
  text-align: left;
}
table th {
  color: whitesmoke;
  background-color: #323232;
  text-transform: uppercase;
  font-weight: 400;
}
table tr:nth-child(even) {
  background-color: #f9f9cc;
}
table tr:nth-child(odd) {
  background-color: #ffffff;
}

.dash-search {
  display: flex;
  justify-content: space-between;
}
.dash-search .search-bar {
  display: flex;
  gap: 10px;
}

.button,
button {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 11px;
  box-shadow: inset 2px 2px 0px 0px rgba(255, 255, 255, 0.175);
  -webkit-box-shadow: inset 2px 2px 0px 0px rgba(255, 255, 255, 0.175);
  -moz-box-shadow: inset 2px 2px 0px 0px rgba(255, 255, 255, 0.175);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  color: #323232;
  background-color: #e9c600;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  opacity: 0.875;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4px), calc(100% - 4px) 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4px), calc(100% - 4px) 100%, 0 100%);
}
.button:hover,
button:hover {
  color: #323232;
  opacity: 1;
  background-color: #e9c600;
}
.button.active,
button.active {
  background-image: linear-gradient(45deg, rgba(255, 221, 29, 0.125) 25%, rgba(50, 50, 50, 0.125) 25%, rgba(50, 50, 50, 0.125) 50%, rgba(255, 221, 29, 0.125) 50%, rgba(255, 221, 29, 0.125) 75%, rgba(50, 50, 50, 0.125) 75%, rgba(50, 50, 50, 0.125) 100%);
  background-size: 20px 20px;
  opacity: 0.925;
}
.button.primary,
button.primary {
  color: #ffffff;
  background-color: #e9c600;
  color: #ffffff;
}
.button.primary:hover,
button.primary:hover {
  color: #ffffff;
  background-color: #e9c600;
}
.button.primary:hover,
button.primary:hover {
  color: #ffffff;
}
.button.inactive,
button.inactive {
  background: #eee;
  cursor: not-allowed;
}
.button.danger,
button.danger {
  color: #ffffff;
  background-color: #df242d;
}
.button.danger:hover,
button.danger:hover {
  color: #ffffff;
  background-color: #df242d;
}
.button.info,
button.info {
  color: #ffffff;
  background-color: #1966a5;
}
.button.info:hover,
button.info:hover {
  color: #ffffff;
  background-color: #1966a5;
}
.button.warning,
button.warning {
  color: #ffffff;
  background-color: #f87c10;
}
.button.warning:hover,
button.warning:hover {
  color: #ffffff;
  background-color: #f87c10;
}
.button.success,
button.success {
  color: #ffffff;
  background-color: #3b8a3b;
}
.button.success:hover,
button.success:hover {
  color: #ffffff;
  background-color: #3b8a3b;
}
.button.small,
button.small {
  padding: 0 16px;
  font-weight: 400;
  font-size: 10px;
  height: 24px;
  line-height: 24px;
}

input[type=submit], input[type=reset], input[type=button] {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 11px;
  box-shadow: inset 2px 2px 0px 0px rgba(255, 255, 255, 0.175);
  -webkit-box-shadow: inset 2px 2px 0px 0px rgba(255, 255, 255, 0.175);
  -moz-box-shadow: inset 2px 2px 0px 0px rgba(255, 255, 255, 0.175);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  color: #323232;
  background-color: #e9c600;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  opacity: 0.875;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4px), calc(100% - 4px) 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4px), calc(100% - 4px) 100%, 0 100%);
}
input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover {
  color: #323232;
  opacity: 1;
  background-color: #e9c600;
}
input[type=submit].active, input[type=reset].active, input[type=button].active {
  background-image: linear-gradient(45deg, rgba(255, 221, 29, 0.125) 25%, rgba(50, 50, 50, 0.125) 25%, rgba(50, 50, 50, 0.125) 50%, rgba(255, 221, 29, 0.125) 50%, rgba(255, 221, 29, 0.125) 75%, rgba(50, 50, 50, 0.125) 75%, rgba(50, 50, 50, 0.125) 100%);
  background-size: 20px 20px;
  opacity: 0.925;
}
input[type=submit].primary, input[type=reset].primary, input[type=button].primary {
  color: #ffffff;
  background-color: #e9c600;
  color: #ffffff;
}
input[type=submit].primary:hover, input[type=reset].primary:hover, input[type=button].primary:hover {
  color: #ffffff;
  background-color: #e9c600;
}
input[type=submit].primary:hover, input[type=reset].primary:hover, input[type=button].primary:hover {
  color: #ffffff;
}
input[type=submit].inactive, input[type=reset].inactive, input[type=button].inactive {
  background: #eee;
  cursor: not-allowed;
}
input[type=submit].danger, input[type=reset].danger, input[type=button].danger {
  color: #ffffff;
  background-color: #df242d;
}
input[type=submit].danger:hover, input[type=reset].danger:hover, input[type=button].danger:hover {
  color: #ffffff;
  background-color: #df242d;
}
input[type=submit].info, input[type=reset].info, input[type=button].info {
  color: #ffffff;
  background-color: #1966a5;
}
input[type=submit].info:hover, input[type=reset].info:hover, input[type=button].info:hover {
  color: #ffffff;
  background-color: #1966a5;
}
input[type=submit].warning, input[type=reset].warning, input[type=button].warning {
  color: #ffffff;
  background-color: #f87c10;
}
input[type=submit].warning:hover, input[type=reset].warning:hover, input[type=button].warning:hover {
  color: #ffffff;
  background-color: #f87c10;
}
input[type=submit].success, input[type=reset].success, input[type=button].success {
  color: #ffffff;
  background-color: #3b8a3b;
}
input[type=submit].success:hover, input[type=reset].success:hover, input[type=button].success:hover {
  color: #ffffff;
  background-color: #3b8a3b;
}
input[type=submit].small, input[type=reset].small, input[type=button].small {
  padding: 0 16px;
  font-weight: 400;
  font-size: 10px;
  height: 24px;
  line-height: 24px;
}
input[type=email], input[type=number], input[type=search], input[type=text], input[type=tel], input[type=url], input[type=password] {
  height: 36px;
  padding: 6px 10px;
  background-color: #ffffff;
  border-radius: 0px;
  box-sizing: border-box;
  border: 1px solid #e9c600;
  border: 1px solid #e9c600;
}
input[type=email]:focus, input[type=number]:focus, input[type=search]:focus, input[type=text]:focus, input[type=tel]:focus, input[type=url]:focus, input[type=password]:focus {
  outline: 2px solid rgba(233, 198, 0, 0.375);
}
input[type=email].info, input[type=number].info, input[type=search].info, input[type=text].info, input[type=tel].info, input[type=url].info, input[type=password].info {
  border: 1px solid #1966a5;
}
input[type=email].info:focus, input[type=number].info:focus, input[type=search].info:focus, input[type=text].info:focus, input[type=tel].info:focus, input[type=url].info:focus, input[type=password].info:focus {
  outline: 2px solid rgba(25, 102, 165, 0.375);
}
input[type=email].success, input[type=number].success, input[type=search].success, input[type=text].success, input[type=tel].success, input[type=url].success, input[type=password].success {
  border: 1px solid #3b8a3b;
}
input[type=email].success:focus, input[type=number].success:focus, input[type=search].success:focus, input[type=text].success:focus, input[type=tel].success:focus, input[type=url].success:focus, input[type=password].success:focus {
  outline: 2px solid rgba(59, 138, 59, 0.375);
}
input[type=email].warning, input[type=number].warning, input[type=search].warning, input[type=text].warning, input[type=tel].warning, input[type=url].warning, input[type=password].warning {
  border: 1px solid #f87c10;
}
input[type=email].warning:focus, input[type=number].warning:focus, input[type=search].warning:focus, input[type=text].warning:focus, input[type=tel].warning:focus, input[type=url].warning:focus, input[type=password].warning:focus {
  outline: 2px solid rgba(248, 124, 16, 0.375);
}
input[type=email].danger, input[type=number].danger, input[type=search].danger, input[type=text].danger, input[type=tel].danger, input[type=url].danger, input[type=password].danger {
  border: 1px solid #df242d;
}
input[type=email].danger:focus, input[type=number].danger:focus, input[type=search].danger:focus, input[type=text].danger:focus, input[type=tel].danger:focus, input[type=url].danger:focus, input[type=password].danger:focus {
  outline: 2px solid rgba(223, 36, 45, 0.375);
}
input[type=checkbox], input[type=radio] {
  display: inline;
}
input[type=checkbox] {
  border-radius: 0px;
}

textarea,
select {
  height: 36px;
  padding: 6px 10px;
  background-color: #fff;
  border-radius: 0px;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid #e9c600;
}
textarea:focus,
select:focus {
  outline: 2px solid rgba(233, 198, 0, 0.375);
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}/*# sourceMappingURL=dashboard.css.map */