// Primary Colors
$color-primary: #e9c600;
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);

// Secondary Colors
$color-secondary: #c4c4bc;
$color-secondary-light: lighten($color-secondary, 10%);
$color-secondary-dark: darken($color-secondary, 10%);

// Light Colors
$color-light: #ffffff;
$color-light-shade: #eee;

// Dark Colors
$color-dark: #323232;
$color-dark-tint: #aaa;
$color-dark-shade: #181818;

// Success Colors
$color-success: #3b8a3b;
$color-success-light: lighten($color-success, 10%);
$color-success-dark: darken($color-success, 10%);

// Info Colors
$color-info: #1966a5;
$color-info-light: lighten($color-info, 10%);
$color-info-dark: darken($color-info, 10%);

// Warning Colors
$color-warning: #f87c10;
$color-warning-light: lighten($color-warning, 10%);
$color-warning-dark: darken($color-warning, 10%);

// Danger Colors
$color-danger: #df242d;
$color-danger-light: lighten($color-danger, 10%);
$color-danger-dark: darken($color-danger, 10%);

// Button Height
$button-height: 36px;
