{% extends "main/base.html" %}
{% block content %}
<div class="app-card__header container">
    <div class="app-card__breadcrumb">
        <ol class="breadcrumb-list {{ breadcrumbClass }}">
            <li>
                <a href="/equipment">Equipment</a>
            </li>
            <li>
                <a href="/equipment/{{ equipment.slug }}">{{ equipment.name }}</a>
            </li>
        </ol>
    </div>
</div>
<div class="l-equipment" x-data="displaySingleEquipment()" x-init="init()">
    <div class="container">
        <div class="l-equipment__inner">
            <div class="equipment equipment--end">
                <img class="equipment__thumbnail" src="" alt="Image" />
                <div class="equipment__caption">
                    <h2 class="equipment__title">{{ equipment.name }}</h2>
                    <p>{{ equipment.description }}</p>
                    <p class="lead">Total Price: <span x-text="totalPrice"></span></p>
                    <form @submit.prevent="makeInquiry" class="equipment__order" x-data="{ _days: 1, min: 1, max: 120, userLocation: '' }" x-init="$watch('_days', value => calculateCosts()); $watch('userLocation', value => calculateCosts())">
                        <div class="form-group-horizontal">
                            <div class="form-group equipment__order--location">
                                <label class="form-label" for="location">Your location</label>
                                <input class="form-control" id="location" name="location" type="text" x-model="userLocation" />
                            </div>
                            <div class="form-group equipment__order--days">
                                <label class="form-label" for="days">Days</label>
                                <div x-cloak class="number-group" x-init="$watch('_days', (value) => { _days = value < min ? min : (value > max ? max : value) })">
                                    <button class="btn btn--primary btn--sm btn--icon number-group__decrement" type="button" aria-label="Decrement _days" @click="_days = Math.max(min, --_days); calculateCosts()">
                                        <i data-feather="minus" class="sign"></i>
                                    </button>
                                    <input class="number-group__input" id="days" x-model="_days" type="number" :min="min" :max="max" />
                                    <button class="btn btn--primary btn--sm btn--icon number-group__increment" type="button" aria-label="Increment _days" @click="_days = Math.min(max, ++_days); calculateCosts()">
                                        <i data-feather="plus" class="sign"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <input class="btn btn--secondary" type="submit" value="Add to cart" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spacer"></div>
{% endblock %}
{% block script %}
<script defer src="{{ url_for('static', filename='dist/js/equipment-single.js') }}"></script>
{% endblock %}
