{% extends "dashboard.html" %}
{% block content %}
<div class="card-container">
    <div class="card">
        <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam eligendi quis tenetur culpa
            incidunt nihil dolorem eius laboriosam ducimus, nemo nisi quod pariatur praesentium voluptatem
            illo magni quasi accusantium amet.
        </div>
        <div class="card-footer">
            Usage Information
        </div>

    </div>
    <div class="card">
        <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam eligendi quis tenetur culpa
            incidunt nihil dolorem eius laboriosam ducimus, nemo nisi quod pariatur praesentium voluptatem
            illo magni quasi accusantium amet.
        </div>
        <div class="card-footer">
            Usage Information
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam eligendi quis tenetur culpa
            incidunt nihil dolorem eius laboriosam ducimus, nemo nisi quod pariatur praesentium voluptatem
            illo magni quasi accusantium amet.
        </div>
        <div class="card-footer">
            Usage Information
        </div>
    </div>
</div>
{% endblock %}