{% extends "dashboard.html" %}
{% block content %}
<div class="dash-search">
    <div class="search-bar">
        <button type="submit" class="success">Add</button>
        <input type="search" class="">
        <button type="submit">Search</button>
    </div>
    <div class="pagination">
        <button type="button" class="inactive">Prev</button>
        <button type="button" class="">Next</button>
    </div>
</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Date Joined</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="userTableBody">
        </tbody>
    </table>
</div>
{% endblock %}
